.about {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 1227px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 210px;
  padding-right: 30px;
  padding-bottom: 110px;
}

.about__image {
  position: absolute;
  left: 0;
  top: 33px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: ("Roboto Condensed");
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $main-font-grey;
}

.about__description {
  margin: 0;

  font-family: ("PT Mono");
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $main-font-grey;
}

.about__description:nth-of-type(1) {
  margin-bottom: 20px;
}

.about__description:nth-of-type(2) {
  margin-bottom: 40px;
}

.about__more {
  width: 180px;
  padding: 12px;

  font-family: ("Roboto Condensed");
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $blue;

  border: 1px solid $blue;
  border-radius: 5px;
}

.about__description-overflow {
  display: none;
}

.about__triangle {
  position: absolute;
  z-index: -1;
}

.about__triangle--1 {
  top: -751px;
  left: -156px;

  width: 250px;
  height: auto;

  transform: rotate(-90deg);
}

.about__triangle--2 {
  top: -550px;
  left: 400px;

  transform: rotate(-30deg);
}

.about__triangle--3 {
  top: -194px;
  left: 426px;
  width: 221px;
  transform: rotate(-30deg);
  height: auto;
}

.about__triangle--4 {
  top: -31px;
  left: -420px;
  width: 400px;
  transform: rotate(-90deg);
  height: auto;
}

.about__triangle--5 {
  top: -382px;
  left: 1221px;
  width: 280px;
  height: auto;
  transform: rotate(-30deg);
}

@media (max-width: $tablet-max-width) {
  .about {
    padding-right: 28px;
    padding-bottom: 87px;
  }

  .about__title {
    margin-bottom: 22px;
    padding-left: 5px;

    font-size: 32px;
    line-height: 140.62%;
  }

  .about__image {
    top: 25px;
    left: -7px;

    width: 167px;
    height: auto;
  }

  .about__description {
    padding-left: 2px;
  }

  .about__description-overflow {
    display: inline;
  }

  .about__description-overflow-hidden {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    padding-top: 35px;
    padding-left: 14px;
    padding-right: 14px;
  }

  .about__image {
    display: none;
  }

  .about__title {
    padding: 0;

    font-size: 28px;
    line-height: 140.62%;
  }

  .about__description:nth-of-type(1) {
    margin-bottom: 40px;
  }

  .about__description:nth-of-type(2) {
    margin-bottom: 30px;
  }

  .about__description-overflow {
    width: 150px;
  }
}
