.feedback {
  background-color: $blue;
}

// .feedback__image {
//   width: 100%;
//   height: auto;
// }

.feedback__wrapper {
  display: flex;

  padding: 92px 193px;
}

.feedback__form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 114px;
  padding-right: calc(10% - 30px);
}

.feedback__form-wrapper form {
  max-width: 570px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback__form-wrapper form input[type="text"] {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 40px;
  padding: 0 20px;
  font-family: ("PT Mono");
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: $light-blue;

  border: none;

  &:hover {
    box-shadow: 0 2px 5px 2px $main-font-grey;
  }
}

.feedback__form-wrapper form textarea {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 43px;
  padding: 18px;

  background-color: $light-blue;
  border: none;
}

.feedback__form-title {
  margin-top: 0;
  margin-bottom: 9px;

  font-family: ("Roboto Condensed");
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.feedback__form-caption {
  margin-bottom: 52px;

  font-family: ("PT Mono");
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $white;
}

.feedback__form-wrapper form button {
  width: 270px;
  height: 45px;
  font-family: ("Roboto Condensed");
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  border-radius: 3px;
}

.feedback__form-confirm {
  flex-basis: 50%;
}

.feedback__form-confirm-title {
  display: inline-block;
  width: 196px;
}

.feedback__form-confirm label {
  display: block;
  position: relative;
  padding-left: 32px;

  font-family: ("PT Mono");
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $white;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.feedback__form-confirm input:checked + label::after {
  opacity: 1;
}

