.page-footer {
  overflow: hidden;
}

.page-footer__list-link {
  color: $footer-font-grey;

  &:hover {
    color: $main-font-grey;
  }
}

.page-footer__button {
  display: none;
  background-color: transparent;
  border: none;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 53px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-footer__list {
  flex-basis: 21%;

  list-style: none;
  padding-left: 0;
}

.page-footer__list-item {
  max-width: 333px;

  font-family: ("PT Mono", "Arial", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: $footer-font-grey;
}

.page-footer__title {
  max-width: 250px;

  margin-bottom: 24px;

  font-family: ("Roboto Condensed", "Arial", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $dark-blue;
}

.page-footer__logo {
  position: relative;

  display: flex;
  flex-direction: column;

  padding-left: 68px;
}

.page-footer__logo-icon {
  position: absolute;
  left: 0;
  top: -7px;
}

.page-footer__logo-title {
  margin: 0;

  font-family: ("Roboto Condensed", "Arial", sans-serif);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  color: $dark-blue;
}

.page-footer__logo-caption {
  display: block;
  margin-bottom: 58px;

  font-family: ("Roboto", "Arial", sans-serif);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $font-dark-grey;
}

.page-footer__logo + li {
  display: none;
}

.page-footer__sections {
  margin-bottom: 25px;
}

.page-footer__sections ul {
  column-count: 2;
  column-gap: 65px;
}

.page-footer__list-title {
  margin-bottom: 20px;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -14px;
  width: 125px;
}

.page-footer__social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 110px;
}

.page-footer__social-link {
  margin-left: 14px;
  font-size: 0;

  color: $footer-font-grey;

  &:hover {
    color: $main-font-grey;
  }
}


.page-footer__copyright {
  position: relative;

  display: flex;
  flex-grow: 1;
  width: 100%;
  padding-top: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -999px;

    width: 3000%;
    height: 1px;

    background-color: $footer-font-grey;
  }
}

.page-footer__copyright li {
  width: auto;

  font-family: ("PT Mono", "Arial", sans-serif);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.page-footer__copyright li:last-of-type {
  text-align: right;
  margin-left: auto;
  flex-grow: 1;
}

.page-footer__copyright li:nth-child(1) {
  margin-right: 73px;
}

.page-footer__copyright li:nth-child(2) {
  margin-right: 142px;
}

@media (max-width: 1200px) {
  .page-footer__wrapper {
    padding: 25px 25px 0;
  }

  .page-footer__list {
    flex-basis: 51%;
  }

  .page-footer__list:first-child {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding-bottom: 28px;

    align-items: center;
    flex-grow: 1;
    flex-basis: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -999px;

      width: 3000%;
      height: 1px;

      background-color: $footer-font-grey;
    }
  }

  .page-footer__logo + li {
    display: block;

    font-size: 13px;
    line-height: 24px;
  }

  .page-footer__logo-caption {
    margin-bottom: 0;
  }

  .page-footer__sections {
    padding-top: 26px;
    margin-bottom: 20px;
  }

  .page-footer__adres {
    padding-top: 26px;
    padding-right: 10px;
  }

  .page-footer__sections ul {
    column-count: 1;
    margin: 0;
  }

  .page-footer__copyright li:nth-child(1) {
    display: none;
  }

  .page-footer__copyright li:nth-child(2) {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer__wrapper {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
  }

  .page-footer__title {
    margin-bottom: 28px;
  }

  .page-footer__adres {
    position: relative;

    flex-basis: 100%;
    padding-top: 15px;
  }

  .page-footer__sections {
    position: relative;

    flex-basis: 100%;
    padding-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -999px;

      width: 3000%;
      height: 1px;

      background-color: $footer-font-grey;
    }
  }

  .page-footer__sections ul,
  .page-footer__adres ul {
    margin-bottom: 30px;
  }

  .page-footer__list:first-child {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .page-footer__list:first-child li {
    margin-bottom: 30px;
  }

  .page-footer__copyright {
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    text-align: center;

    margin-top: 0;
    padding-top: 30px;
  }

  .page-footer__copyright li {
    margin-bottom: 20px;
  }

  .page-footer__copyright li:last-of-type {
    margin-left: 0;
    text-align: center;
  }

  .page-footer__button {
    position: absolute;
    right: -2px;
    top: 24px;

    display: block;
    width: 25px;
    height: 25px;
  }

  .page-footer__button--open {
    background-image: url("../img/minus.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-footer__button--close {
    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .page-footer__list--hidden {
    display: none;
  }
}
