.page-header-contacts-wrapper {
  display: flex;
}

.page-header {
  position: relative;
  min-height: 878px;
  display: flex;
  flex-direction: column;

  padding: 35px 10px;

  overflow: hidden;
  background-color: $dark-blue;
  background-image: url('../img/header-bg-desktop@1x.jpg');
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url('../img/header-bg-desktop@2x.jpg');
    background-size: 1920px auto;
    background-position: center 0;
  }
}

.page-header__logo {
  position: relative;


  margin-right: auto;
  padding-top: 4px;
  padding-left: 65px;
}

.page-header__logo-icon {
  position: absolute;
  left: 0;
  top: -2px;
}

.page-header__contacts-icon-wrapper {
  font-size: 0;
}

.page-header__logo-title {
  margin: 0;

  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  white-space: nowrap;
  color: $white;
}

.page-header__logo-caption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $font-dark-grey;
}

.page-header__contacts {
  display: flex;
  align-items: center;
}

.page-header__contacts-link {
  display: flex;
  margin-left: 88px;
}

.page-header__contacts-info {
  margin-left: 16px;

  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.page-header__contacts-call {
  display: block;

  margin-left: 49px;
  padding: 14px 27px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid $white;
  border-radius: 6px;

  &:hover {
    box-shadow: 0 0 3px 3px $milk-white;
  }
}

.page-header__image {
  position: absolute;
  top: 258px;
  left: 54%;
}

@media (max-width: $tablet-max-width) {
  .page-header {
    min-height: 684px;

    padding: 19px 23px;
    background-image: url('../img/header-bg-tablet@1x.jpg');
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/header-bg-tablet@2x.jpg');
      background-size: 1515px auto;
      background-position: center 0;
    }
  }

  .page-header__contacts-info {
    display: none;
  }

  .page-header__contacts-call {
    display: none;
  }

  .page-header__contacts-icon {
    width: 25px;
    height: auto;
  }

  .page-header__contacts-link {
    margin-left: 32px;
  }

  .page-header__logo {
    padding-top: 6px;
    padding-left: 70px;
  }

  .page-header__image {
    top: 80px;
    left: 59%;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header {
    min-height: 647px;

    margin-left: auto;
    margin-right: auto;
    padding: 20px 15px;

    background-image: url('../img/header-bg-mobile@1x.jpg');
    background-position: 55% -15px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/header-bg-mobile@2x.jpg');
      background-size: 1447px auto;
    }
  }

  .page-header__logo-title,
  .page-header__logo-caption {
    display: none;
  }

  .page-header__logo-icon {
    width: 38px;
    height: 38px;
  }

  .page-header__contacts-link {
    margin-left: 23px;
  }

  .page-header__image {
    top: 68px;
    left: calc(50% - 135px);
  }
}
