
// size
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// color

$dark-blue: #1b2d37;
$blue: #00b2ff;
$milk-white: #fafafa;
$grey: #ebebeb;
$font-grey: #666666;
$white: #ffffff;
$font-dark-grey: #788891;
